allow untrusted_app proc:file { getattr open read };
allow untrusted_app proc_stat:file { getattr open read };

allow untrusted_app_25 hal_memtrack_default:binder call;
allow untrusted_app_25 proc:file { getattr open read };
allow untrusted_app_25 proc_interrupts:file getattr;
allow untrusted_app_25 proc_iomem:file getattr;
allow untrusted_app_25 proc_stat:file { getattr open read };
allow untrusted_app_25 proc_sysrq:file getattr;
allow untrusted_app_25 proc_timer:file getattr;
allow untrusted_app_25 proc_uid_time_in_state:file getattr;
allow untrusted_app_25 proc_zoneinfo:file getattr;
allow untrusted_app_25 shell_data_file:dir setattr;
allow untrusted_app_25 sysfs:file { getattr open read };
allow untrusted_app_25 sysfs_bluetooth_writable:file getattr;
allow untrusted_app_25 sysfs_leds:dir { open read search };
allow untrusted_app_25 sysfs_vadc_dev:dir { open read };
